@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

.header{
    margin: 0; 
    padding: 0;
    width: 100%;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 10px 100px rgba(15, 8, 8, 0.1);
    z-index: 10;
}

.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.header_logo-img-cont {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1.5rem;
    background: #7843e9;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.header_logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.header_logo-sub {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.header_logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    transition: color .3s;
}

.header_main{
    margin: 0;
    padding: 0;
    font-weight: 500;
    display: block;
}

.header_links{
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: relative;
    visibility: visible;
    opacity: 1;
}

.header_link-wrapper{
    list-style: none;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
}

.header_link{
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}

.header_main-ham-menu-icon{
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.header_sm-menu{
    background: #fff;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    top: 100%;
    transition: all .3s;
}

.header_sm-menu-content{
    display: block;
}

.header_sm-menu-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_sm-menu-link{
    list-style-type: none;
    margin-bottom: 1rem;
    padding: 1rem;
}

.header_sm-menu-content ul li a{
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}

/* --------------------------Hero section css------------------------------------- */

#hero_section{
    display: flex;
    justify-content: center;
    background-color: #f1f1f5;
    background-position: center;
    height: 650px; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
} 

.hero-section-content{
    width: 92%;
    text-align: center;
    padding: 16% 12% 0 12%;
}

#hero-h1{
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight: 800;
}

.hero_details{
    padding: 0 8em;
}

.hero-p{
    font-size: 1.3em;
    line-height: 2em;
    color: #333232;
    font-weight: 300;
}

.hero_btn{
    margin-top: 2rem;
    padding: 1rem 4rem;
    font-size: 1.1rem;
}

.hero-section-content a{
    text-decoration: none;
}

.hero-section-content a:hover{
    transform: scale(1.1);
}

/* --------------------------About-section-css------------------------------------- */

#about_section{
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    margin: 0;
    padding: 8rem 0;
}

.about_main_container{
    width: 90%;
    margin: auto;
}

.about_main_heading_content{
    margin-bottom: 4rem;
}

.about_main_heading{
    display: block;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}

.midbar-tick{
    display: flex;
    margin: auto;
    height: 5px;
    width: 2rem;
    background: #7843e9;
    border-radius: 5px;
}

.about_main_details{
    display: block;
    text-align: center;
    padding: 1rem 12rem;
    font-size: 0.8em;
    line-height: 1.5em;
    color: #333232;
    font-weight: 300;
}

.about_content_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}

.about_content{
    margin: 0;
    padding: 0;
}

.about_content_heading{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.about_content_details{
    margin: 0;
    padding: 0;
}

.about_content_p{
    font-size: 1rem;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    font-weight: 300;
}

.about_btn{
    margin-top: 2rem;
    padding: 0.9rem 2.5rem;
    font-size: 1.1rem;
}

.btn_theme{
    background-color: #7843e9;
    color: #fff;
}

.btn{
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(170, 170, 170);
}

.about_content a{
    text-decoration: none;
}

.about_content a:hover{
    transform: scale(1.1);
}

.about_skill{
    margin: 0;
    padding: 0;
}

.about_skill_heading{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.about_all_skill_list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.skill_set{
    padding: 0.7rem 1.2rem;
    margin-bottom: 0.7rem;
    margin-right: 1rem;
    background-color: rgba(153,153,153,.2);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: #666;
}

/* --------------------------Project-section-css------------------------------------- */

#project_section{
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    margin: 0;
    padding: 8rem 0;
}

.project_main_container{
    width: 90%;
    margin: auto;
}

.project_main_heading_content{
    margin-bottom: 4rem;
}

.project_main_heading{
    display: block;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}

.project_main_details{
    display: block;
    text-align: center;
    padding: 1rem 12rem;
    font-size: 0.8em;
    line-height: 1.5em;
    color: #333232;
    font-weight: 300;
}

.project_list{
    display: flex;
    flex-direction: column;
    gap: 125px;
}

.project_content_box{
    display: flex;
    gap: 50px;
    height: 380px;
    justify-content: center;
    align-items: center;
}

.project_image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 700px;
    text-align: center;
}

.outer-img{
    position: relative;
    width: 669px;
    height: 402px;
    border-radius: 10px;
    z-index: 5;
}

.inner-img{
    position: absolute;
    width: 506px;
    height: 304px;
    top: 40px;
    margin: auto;
    overflow: hidden;
    z-index: 1;
}

.project_content{
    width: 445px;
}

.project_content_heading{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.project_content_details{
    margin: 0;
    padding: 0;
}

.project_content_p{
    font-size: 1rem;
    color: #5a5a5a;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    font-weight: 400;
    opacity: 0.9;
}

.project_btn{
    margin-top: 2rem;
    padding: 0.9rem 2.5rem;
    font-size: 1.1rem;
}

.btn_theme{
    background-color: #7843e9;
    color: #fff;
}

.btn{
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(170, 170, 170);
}

.project_content a{
    text-decoration: none;
}

.project_content a:hover{
    transform: scale(1.1);
}

/* --------------------------contact-section-css------------------------------------- */

#contact_section{
    display: flex;
    justify-content: center;
    background-color: #f1f1f5;
    margin: 0;
    padding: 8rem 0;
}

.contact_main_container{
    width: 90%;
    margin: auto;
}

.contact_main_heading_content{
    margin-bottom: 4rem;
}

.contact_main_heading{
    display: block;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}

.midbar-tick{
    display: flex;
    margin: auto;
    height: 5px;
    width: 2rem;
    background: #7843e9;
    border-radius: 5px;
}

.contact_main_details{
    display: block;
    text-align: center;
    padding: 1rem 12rem;
    font-size: 0.8em;
    line-height: 1.5em;
    color: #333232;
    font-weight: 300;
}

.contact_content_box{
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    background: #fff;
    width: 60%;
    padding: 2rem;
    text-align: right;
    border-radius: 5px;
    margin: 5rem auto 0 auto;
}

.contact_form{
    display: block;
    width: 95%;
    margin: 0;
    padding: 0;
}

.contact_form-field{
    margin-bottom: 2rem;
}

.contact_form-label{
    color: #666;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    width: 95%;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}

.contact_form-input{
    /* color: #ad1313; */
    padding: 1.5rem;
    width: 95%;
    border: 1px solid #ebebeb;
    font-size: 1rem;
    letter-spacing: 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
}

.contact_btn{
    margin-top: 2rem;
    padding: 1rem 4rem;
    font-size: 1.1rem;
    background-color: #7843e9;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgb(179, 172, 172);
}

.contact_btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}


/* --------------------------Footer section css------------------------------------- */


.main-footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-weight:lighter;
}

.main-footer-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

.main-footer-upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(63, 61, 61);
    padding-bottom: 5%;
    padding-top: 5%;
}

.main-footer-lower{
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
    padding-top: 3%;
}


.main-footer-upper-content1{
    width: 50%;
}

.content1-heading{
    font-weight: 400;
}

.content2-heading{
    font-weight: 400;
}


.social-media-links a{
    text-decoration: none;
}

.social-media-links a i{
    color: rgb(255, 255, 255);
    margin: 4px;
    font-size: 1.5rem;
}

.social-media-links a i:hover{
    color: rgb(30,215, 96);
    transform:scale(1.5);
}






/*---------------------------css for Project-1 ------------------------------------------*/

.firstProject-about_main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: auto;
    padding: 100px 0;
    gap: 50px;
}

.firstProject-about_content_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 675px;
}

.firstProject-about_content_p{
    font-size: 1rem;
    color: #666;
    line-height: 1.7;
    margin-bottom: 1rem;
    font-weight: 300;
}

.live_btn_box{
    margin: 0;
    padding: 0;
}

.live_btn_heading{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.live_btn_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.live_btn{
    /* margin-top: 2rem; */
    padding: 0.9rem 2.5rem;
    font-size: 1rem;
}

.btn_theme{
    background-color: #7843e9;
    color: #fff;
}

.btn{
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(170, 170, 170);
}

.live_btn_container a{
    text-decoration: none;
}

.live_btn_container a:hover{
    transform: scale(1.1);
}

.back_btn_theme{
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid #7843e9;
}

.firstProject-project_image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
}

.firstProject-outer-img{
    position: relative;
    width: 880px;
    height: 550px;
    z-index: 5;
}

.firstProject-inner-img{
    position: absolute;
    width: 666px;
    height: 414px;
    top: 55px;
    margin: auto;
    overflow: hidden;
    z-index: 1;
}




/*---------------------------css for media queries ------------------------------------------*/

@media screen and (max-width: 1265px){

    .hero-section-content {
        padding: 16% 1% 0 1%;
    }

    #hero-h1{
        font-size: 3em;
    }
    .hero-p {
        font-size: 1.0em;
    }

    .hero_btn {
        padding: 1rem 2.5rem;
    }
}

@media screen and (max-width: 1150px){

    .about_main_details {
        padding: 1rem 5rem;
    }

    .project_main_container {
        width: 95%;
    }

    .project_image {
        width: 580px;
    }
    
    .outer-img {
        width: 590px;
        height: 365px;
    }

    .inner-img {
        width: 454px;
        height: 273px;
    }

    .project_content_heading {
        margin-bottom: 1.2rem;
    }

    .project_content_p {
        margin-bottom: 0;
    }

    .project_btn {
        margin-top: 1.5rem;
        padding: 0.7rem 2rem;
    }
}

@media screen and (max-width: 1050px){
    .project_main_container {
        width: 95%;
    }

    .project_main_heading_content {
        margin-bottom: 1rem;
    }

    .project_main_details {
        padding: 1rem 9rem;
    }

    .project_list {
        gap: 40px;
    }

    .project_image {
        width: 510px;
    }
    
    .outer-img {
        width: 510px;
        height: 285px;
    }

    .inner-img {
        width: 397px;
        height: 215px;
        top: 30px;
    }

    .contact_main_details {
        padding: 1rem 4rem;
    }
}

@media screen and (max-width: 950px){

    .hero-section-content {
        padding: 20% 1% 0 1%;
    }

    .header_links{
        justify-content: center;
    }

    .header_link-wrapper {
        padding-inline-start: 2rem;
        padding-inline-end: 0;
    }

    #hero-h1{
        font-size: 2.5em;
    }

    .hero_btn {
        padding: 0.7rem 1.8rem;
    }

    .project_main_heading_content {
        margin-bottom: 3rem;
    }

    .project_content_box {
        gap: 16px;
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .project_main_details {
        padding: 1rem 3rem;
        font-size: 0.7em;
    }

    .project_list {
        gap: 100px;
    }

    .project_image {
        width: auto;
        height: auto;
        margin: 0 10px;
        overflow: hidden;
        align-items: center;
        text-align: center;
    }

    .outer-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
        overflow: hidden;
    }

    .inner-img {
        width: calc(100% - 22%);
        height: calc(100% - 24%);
        top: calc(100% - 91%);
        object-position: center;
        display: block;
    }

    .contact_main_details {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 850px){

    #hero_section{
        height: 600px; 
    }

    #hero-h1 {
        display: flex;
        flex-direction: column;
    }

    .about_main_details {
        padding: 1rem 2rem;
        font-size: 0.7em;
    }

    .about_content_box {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

    .about_content{
        width: 500px;
    }

    .about_content_p {
        font-size: 0.9rem;
    }

    .about_btn {
        margin-top: 2rem;
        padding: 0.7rem 2rem;
        font-size: 1rem;
    }

    .skill_set {
        padding: 0.5rem 1rem;
        font-size: 13px;
    }

    #project_section {
        padding: 0rem 0 8rem 0;
    }

    .contact_main_details {
        padding: 1rem 1rem;
    }

    .contact_content_box {
        margin: 4rem auto 0 auto;
        width: 80%;
    }

    .contact_form-label {
        margin-bottom: 0.5rem;
    }

    .contact_form-input {
        padding: 0.7rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 750px){
    .header_main-ham-menu-cross{
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }
    
    .header_main-ham-menu-icon{
        display: flex;
        position: relative;
        visibility: visible;
        opacity: 1;
        cursor: pointer;
    }

    .header_links{
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }

    .active-pannel{
        position: relative;
        visibility: visible;
        opacity: 1;
    }

    .close-pannel{
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }

    .hero_details {
        padding: 0 4em;
    }

    .project_content_box {
        gap: 16px;
    }

    .project_content_heading {
        font-size: 1.3rem;
    }

    .project_content_p {
        font-size: 1rem;
        color: #535353;
        font-weight: 300;
        opacity: 1;
    }

    .project_content {
        width: auto;
        padding: 10px;
    }

    .main-footer{
        padding: 10px;
    }  
}

@media screen and (max-width: 600px){
    .hero-section-content {
        padding: 26% 1% 0 1%;
    }

    #hero-h1 {
        font-size: 2em;
    }

    .hero-p {
        font-size: 0.9em;
    }

    .hero_details {
        padding: 0 1em;
    }

    .about_content {
        width: auto;
    }

    .project_main_heading {
        font-size: 1.4em;
    }

    .project_main_details {
        padding: 1rem 1.5rem;
        font-size: 0.6em;
    }

    .project_content_heading {
        font-size: 1.2rem;
    }

    .project_content_p {
        font-size: 0.9rem;
    }

    .project_btn {
        margin-top: 1.5rem;
        padding: 0.5rem 1.2rem;
        font-size: 1rem;
    }

    .main-footer-upper {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align: center;
        gap: 35px;
    }

    .main-footer-upper-content1 {
        width: 90%;
    }

    .content1-heading {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .content2-heading {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .social-media-links a i {
        margin: 14px;
    }

    .main-footer-lower {
        font-size: 18px;
    }
}

@media screen and (max-width: 490px){
    .header_content {
        padding: 0.5rem 1rem;
    }

    .header_logo-img-cont {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
    }

    .header_logo-sub {
        font-size: 1rem;
    }

    #hero_section {
        height: 435px;
    }

    .hero-section-content {
        padding: 35% 1% 0 1%;
    }

    #hero-h1 {
        font-size: 1.7em;
        letter-spacing: 0px;
    }

    .hero-p {
        font-size: 0.8em;
    }

    .hero_btn {
        padding: 0.6rem 1.2rem;
        font-size: 1rem;
    }

    #about_section {
        padding: 4rem 0;
    }

    .about_main_heading {
        font-size: 1em;
        letter-spacing: 1px;
    }

    .about_main_details {
        padding: 1rem 0rem;
        font-size: 0.6em;
    }

    .about_skill_heading {
        font-size: 1.4rem;
    }

    #project_section {
        padding: 0rem 0 4rem 0;
    }

    .project_main_heading {
        font-size: 1.1em;
        letter-spacing: 1px;
    }

    .project_main_details {
        padding: 1rem 1rem;
    }

    .project_main_container {
        width: auto;
    }

    .contact_main_heading_content {
        margin-bottom: 2rem;
    }

    #contact_section {
        padding: 4rem 0;
    }

    .contact_main_container {
        width: auto;
    }

    .contact_main_heading {
        font-size: 1.1em;
        letter-spacing: 1px;
    }

    .contact_main_details {
        padding: 1rem 1rem;
        font-size: 0.6em;
    }

    .contact_content_box {
        width: auto;
        padding: 25px;
        margin: 0rem 25px 0 25px;
        text-align: left;
    }

    .contact_form {
        width: auto;
    }

    .contact_form-label {
        font-weight: 500;
        width: auto;
        margin-bottom: 0.6rem;
    }

    .contact_form-input {
        padding: 0.7rem;
        width: 92%;
        font-size: 0.8rem;
        font-weight: 500;
    }

    .submit-form-btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact_btn {
        margin-top: 0;
        padding: 0.5rem 2rem;
        font-size: 1rem;
    }

    .main-footer{
        padding: 10px;
        font-size: 13px;
    }

    .main-footer-container {
        padding: 0 10px;
        width: auto;
    }

    .main-footer-upper {
        gap: 20px;
    }

    .main-footer-upper-content1 {
        width: auto;
    }

    .content1-heading {
        margin-bottom: 15px;
        letter-spacing: 3px;
        font-size: 20px;
    }

    .main-footer a i{
        font-size: 1.5rem;
        margin: 6px;
    }

    .main-footer p{
        font-size: 12px;
    }

    .content2-heading {
        margin-bottom: 0;
        margin-top: 15px;
        letter-spacing: 3px;
        font-size: 20px;
    }

    .main-footer-lower {
        font-size: 13px;
        text-align: center;
    }
}

@media screen and (max-width: 350px){
    .header_content {
        padding: 0.5rem 0.3rem;
    }

    .header_logo-img-cont {
        margin-right: 10px;
    }

    #hero-h1 {
        font-size: 1.7em;
        letter-spacing: 2px;
    }

    .hero_btn {
        padding: 0.4rem 1rem;
        font-size: 0.8rem;
    }

    .contact_content_box {
        padding: 10px;
        margin: 0rem 10px;
    }

    .contact_form-field {
        margin-bottom: 1rem;
    }

    .contact_form-label {
        margin-bottom: 0.1rem;
        font-size: 0.7rem;
    }

    .contact_form-input {
        padding: 0.5rem;
        font-size: 0.7rem;
    }

    .contact_btn {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 300px){
    .header_logo-img-cont {
        width: 2rem;
        height: 2rem;
        margin-right: 5px;
    }

    .header_logo-sub {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 230px){
    .header_logo-sub {
        display: none;
    }

    .header_content {
        padding: 0.5rem 1rem;
    }

    #hero-h1 {
        font-size: 1.4em;
        letter-spacing: 1px;
    }

    #hero_section {
        height: 500px;
    }

    .about_main_heading {
        font-size: 0.8em;
        font-weight: 800;
    }

    .about_content_box {
        gap: 4rem;
    }

    .about_content_heading {
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
    }

    .about_btn {
        margin-top: 1rem;
        padding: 0.5rem 1.5rem;
        font-size: 0.8rem;
    }

    .about_skill_heading {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .skill_set {
        padding: 0.3rem 0.7rem;
        font-size: 10px;
    }

    .project_main_heading {
        font-size: 0.8em;
        font-weight: 800;
    }

    .project_btn {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    .contact_main_heading {
        font-size: 0.8em;
        font-weight: 800;
    }
}




/*---------------------------css media queries for Project-1 ------------------------------------------*/

@media screen and (max-width: 950px){
    .firstProject-about_main_container {
        width: 100%;
    }

    .firstProject-project_image {
        width: auto;
        height: auto;
        margin: 0 10px;
        overflow: hidden;
        align-items: center;
        text-align: center;
    }

    .firstProject-outer-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
        overflow: hidden;
    }

    .firstProject-inner-img {
        width: calc(100% - 22%);
        height: calc(100% - 24%);
        top: calc(100% - 91%);
        object-position: center;
        display: block;
    }
}

@media screen and (max-width: 750px){
    .firstProject-about_content_box{
        width: auto;
        padding: 0 30px;
    }
}

@media screen and (max-width: 490px){
    .firstProject-about_content_box{
        padding: 0 20px;
    }

    .firstProject-about_content_heading {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .firstProject-about_content_p {
        font-size: 0.9rem;
    }

    .live_btn {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }

    .back_btn_theme{
        letter-spacing: 0px;;
        border-inline: 2px solid #7843e9;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 300px){
    .firstProject-about_content_box {
        padding: 0 10px;
    }

    .firstProject-about_content_heading {
        font-size: 1.1rem;
    }

    .firstProject-about_content_p {
        font-size: 14px;
    }

    .firstProject-about_skill_heading{
        font-size: 1.1rem;
    }

    .live_btn_heading {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
}